<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <advancedshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Rakeshmagento\AdvancedShipping\Model\Carrier\AdvancedShipping</model>
                <name>Fixed</name>
                <price>15.00</price>
                <title>Shipping Per Product</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </advancedshipping>
        </carriers>
    </default>
</config>